ul {
    list-style-type: none;
}

a {
    cursor: pointer
}

a[name="template"] {
    background: #F9D9BE;
    color: #000;
    font-size: 1.1em;
    border: none;
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    padding: 0.4em 1.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

a[name="loginLink"] {
    color: #FFB87B
}

.index_thumbnail {
    height: 293px;
    width: 100%;
}